/* *
{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box; 
} */


/* .c1
{
    position:relative;
    left:250px;
    top:75px;;
} */
.form-box
{
    width:20%;
    
    position:absolute;
    top:0px;
    left:600px;
    /* transform:translate(-50%,50%); */
    background:rgb(102, 53, 165);
    padding:50px 60px 50px;
    text-align: center;
}
.input-field
{
    background-color: rgb(239, 242, 242);
    height:30px;
    margin:12px;
    border-radius:6px;
    display:flex;
    align-items: center;
    max-height:30px;
    
    transition:max-height 0.5s;
    overflow:hidden;
}

input
{
width:100%;
background:transparent;
border:0;
outline:0;
padding:18px 15px;
}





.c2
{

margin-left: 10px;
margin-right: -6px;
}

.c3
{

margin-left: 11px;
margin-right: -6px;
}

p
{
    margin:15px;
    text-align:left;
    font-size:12px;
}

.btn-field
{
    margin-top: 20px;
    width:100%;
    display:flex;
    justify-content: space-between;

}


.disable
{
    background:rgb(202, 200, 200);
    color:#817d7d;
}

body
{
    overflow: hidden;
}

.Loginbtn
{
    background: rgb(162, 159, 178);
    color:#fff;
    height:40px;
    width:100px;
    border-radius:10px;
    border:0;
    /* outline:0;  */ 
    cursor:pointer;
}

.Loginbtn:hover
{
    background: rgb(17, 5, 69);
}

/* .font-link
{
    font-family: 'Poppins';
    color: #fff;
} */