.font-link
{
    font-family: 'Poppins';
    color: #fff;
}



.A1
{
    width:20%;
    position:relative;
    top:80px;
    left:35%;
    
    background:rgb(102, 53, 165);
    padding:20px 60px 60px;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}


.A4
{
    background-color: rgb(239, 242, 242);
    height:30px;
    margin:12px;
    border-radius:6px;
    display:flex;
    align-items: center;
    
    
    

   
}

.SignUpbtn
{
    background: rgb(162, 159, 178);
    color:#fff;
    height:40px;
    width:100px;
    border-radius:10px;
    border:0;
    /* outline:0;  */ 
    cursor:pointer;
    
    
}

.SignUpbtn:hover
{
    background: rgb(17, 5, 69);
}

